
.loading-project {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 200px;
}
.project-title {
    /* cursor: pointer; */
    font-size: 1.4rem;
    font-weight: 700;
}

.project-more-dropdown {
    position: absolute;
    /* right: 1.2rem; */
    right: 0;
    top: 0;
}