/* buttons */
.checkbox-btn, 
.delete-btn {
    margin-right: 0.5rem;
}
.save-btn {
    margin-left: 0.5rem;
}
.btn-light {
    background-color: transparent;
    border-color: transparent;
}
.add-btn {
    margin-left: 1.25rem;
}
.add-btn * {
    stroke-width: 3;
}
.btn-light.log-btn,
.btn-light:not(:disabled):not(.disabled):active.log-btn {
    background: transparent;
    border-color: transparent;  
}

/* адаптивность */
@media screen and (max-width:479px) {
    .save-btn {
        margin-left: 0;
        width: 100%;
        margin-top: 0.8rem;
        background-color: #efefef;
        border-color: #e9e8e8;
    }
}
