.header {
    margin-bottom: 2rem;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}
.header-log {
    display: flex;
    align-items: center;
}