.header {
    margin-bottom: 2rem;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background: url(../../img/header-back.png) no-repeat 50% whitesmoke;
}
.header-log {
    display: flex;
    align-items: center;
}
.user-name {
    border-bottom: 0.8px dotted;
    line-height: 1.6;
    color: #007bff;
}
.user-name:hover {
    color: #0056b3;
}
.log-out {
    outline: none;    
}
.log-out:hover {
    color: #dc3545;
}
.log-out:active {
    background-color: #dc3545;
    color: #fff;
}
.log-out-ico {
    width: 20px;
    height: 20px;
}
.log-in {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

/* адаптивность */
@media screen and (max-width:479px) {
    .header {
        margin-bottom: 0.5rem;
        padding: 1rem;
        background: whitesmoke;
    }
}