.main-header {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
    margin-top: 2rem;
}
.geeting {
    text-align: center;
}
.loading-user {
    text-align: center;
    color: gray;
    font-style: italic;
}