.footer {
    margin-top: 3rem;
}
.footer-wrapper {
    text-align: center;
    max-width: 80%;
    margin: auto;
}
.footer_contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_par {
    margin-bottom: 0.3rem;
}