/* body {
    color: rgb(76, 76, 76)!important;
} */

.project {
    max-width: 650px;
    margin: auto;
}
.project-title {
    cursor: pointer;
}
/* reactstrap */
.card-body {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: #007bff;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* перенести в project */
.loading-project {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 200px;
}
