
/* reactstrap */
.card-body {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: #f8f9fa;
    border: 1px solid #8080806b;
    box-shadow: 0px 2px 6px;
    position: sticky;
    top: 0;
    z-index: 2;
}

a:not([href]):not([tabindex]) {
    color: #007bff!important;
    cursor: pointer;
}